#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 2rem;
}

#customers td, #customers th {
	border: 0px solid #ddd;
	padding: 8px;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px; padding-bottom : 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
	padding-bottom: 12px;
}

#customers #header {
	position: sticky;
	top: 0%;
}

